:root {
	--black: rgba(0, 0, 0, 0.856);
	--white: #efeef5;
}
.track-category-gym-text {
	font-family: "Englebert";
	font-size: 52px;
	color: rgb(97, 64, 155);
	margin-bottom: 10px;
}
#ch-tooltip {
	background-color: var(--white);
	border: solid var(--black);
	border-radius: 10px;
	font-family: "Comfortaa";
	font-size: 18px;
	color: var(--black);
}
#gym-legend text {
	font-family: "Comfortaa";
	font-size: 15px;
	color: var(--black);
}
body {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
.track-category-spoiler-text {
	font-family: "Englebert";
	font-size: 52px;
	color: #525252;
	margin-bottom: 10px;
}
