:root {
	--black: rgba(0, 0, 0, 0.856);
	--white: #efeef5;
}

.track-category-gym-text {
	font-family: "Englebert";
	font-size: 52px;
	color: rgb(97, 64, 155);
	margin-bottom: 10px;
}
#ch-tooltip {
	background-color: var(--white);
	border: solid var(--black);
	border-radius: 10px;
	font-family: "Comfortaa";
	font-size: 18px;
	color: var(--black);
}
#gym-legend text {
	font-family: "Comfortaa";
	font-size: 15px;
	color: var(--black);
}
body {
	margin-top: 5%;
	margin-left: 12%;
	margin-right: 20%;
}
.track-category-spoiler-text {
	font-family: "Englebert";
	font-size: 52px;
	color: #525252;
	margin-bottom: 10px;
}
.track-category-korean-text {
	font-family: "Englebert";
	font-size: 52px;
	color: rgb(216, 40, 69);
	margin-bottom: 10px;
}
#korean-legend span {
	font-family: "Comfortaa";
	font-size: 15px;
	color: var(--black);
	padding-bottom: 5px;
}
.track-category-study-text {
	font-family: "Englebert";
	font-size: 52px;
	color: #228B22;
	margin-bottom: 10px;
}
#study-legend span {
	font-family: "Comfortaa";
	font-size: 15px;
	color: var(--black);
	padding-bottom: 5px;
}
button {
	background-color: var(--black);
	color: var(--white);
	border: solid var(--black);
	border-radius: 10px;
    font-family: "Comfortaa";
	font-size: 15px;
}

@media (prefers-color-scheme: dark) {
	.dark-mode {
		background-color: var(--black);
		color: var(--white);

		.track-category-gym-text {
			color: rgb(163, 113, 249);
		}
		#ch-tooltip {
			background-color: var(--black);
			border: solid var(--white);
			color: var(--white);
		}
		#gym-legend text {
			color: var(--white);
		}
		.track-category-spoiler-text {
			color: #d3d2d2;
		}
		.track-category-korean-text {
			color: rgb(237, 9, 47);
		}
		#korean-legend span {
			color: var(--white);
		}
        .track-category-study-text {
            color: #32CD32;
        }
        #study-legend span {
            color: var(--white);
        }
		button {
			background-color: var(--white);
			color: var(--black);
			border: solid var(--white);
			border-radius: 10px;
            font-family: "Comfortaa";
	        font-size: 15px;
		}
	}
}
